{% extends 'base.html.twig' %}

{% block body %}
<h1>Accueil</h1>
    {{ render(url('fos_user_registration_register')) }}

    {{ render(url('fos_user_security_login')) }}
{% endblock %}

{% block stylesheets %}

{% endblock %}
