{% extends 'default/base_timer.html.twig' %}

{% block body %}
    <!-- ******* HEADER ******* -->
    {{ include('nav.html.twig') }}

    <!-- PAGE -->
    <div class="head">
        <div class="col-md-4">
            <a class="img-page" href="#home">
                <img src="../img/logo-pages.png" alt="Logo PingPongStartupcup">
            </a>
        </div>
        <div class="col-md-8">
            <div class="contest">Tournois</div>
            <div class="name-team">HETICLAND</div>
        </div>
    </div>

    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-8">
                    <div class="text">
                        <h3 class="h3">LA PHASE 1 COMMENCE DANS :</h3>
                        <h4 class="h4">SELECTIONS DES CHAMPIONS</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg team" data-toggle="modal" data-target="#modale-5">
                        PRÉVENIR ÉQUIPE
                    </button>

                    <!-- Modal -->
                    <div class="modal fade modale-timer" id="modale-5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <!-- HEADER -->
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <i class="zmdi zmdi-plus"></i>
                                    </button>
                                </div>

                                <!-- BODY -->
                                <div class="modal-body body-timer">
                                    <!-- CONNEXION -->
                                    <div class="form">

                                        <h3 class="h3">À nous de jouer !</h3>

                                        <p>Envoyez un message à vos coéquipiers pour votre tounois</p>

                                        <form>
                                            <div class="col-md-12 no-gutter">
                                                <input type="text" placeholder="Lieu de rencontre * ">
                                            </div>

                                            <div class="col-md-12 no-gutter">
                                                <textarea class="form-control" placeholder="Message *"></textarea>
                                            </div>

                                            <div class="col-md-12 no-gutter">
                                                <button type="submit" class="btn btn-insc">Envoyer</button>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="timer">
                <span id="days"></span>
                <div class="sup">:</div>

                <span id="hours"></span>
                <div class="sup">:</div>

                <span id="minutes"></span>
                <div class="sup">:</div>

                <span id="seconds"></span>

                <div class="infos-sup">
                    <ul>
                        <li class="days-1">Jours</li>
                        <li class="hours-1">Heures</li>
                        <li class="minutes-1">Minutes</li>
                        <li class="seconds-1">Secondes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-home">
        <a href="/" >Revenir à l’accueil</a>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.hamburger').on('click', function () {
                $('.menu-1').toggleClass('menu--active');
            });

            $('.account.connexion').on('click', function(){
                $('.btn.participate').trigger('click')
            });

            $('.account.inscription').on('click', function(){
                $('#modal-inscription').css('z-index','0');
                $('.btn.inscription').trigger('click');

                $('.close').off('click').on('click', function(){
                    $('#modal-inscription').css('z-index','1050');
                })
            });
        });

        var timer;
        var compareDate = new Date();
        compareDate.setDate(compareDate.getDate() + 13);
        timer = setInterval(function() {
            timeBetweenDates(compareDate);
        }, 1000);
        function timeBetweenDates(toDate) {
            var dateEntered = toDate;
            var now = new Date();
            var difference = dateEntered.getTime() - now.getTime();
            if (difference <= 0) {
                clearInterval(timer);
            }
            else {
                var seconds = Math.floor(difference / 1000);
                var minutes = Math.floor(seconds / 60);
                var hours = Math.floor(minutes / 60);
                var days = Math.floor(hours / 24);
                hours %= 24;
                minutes %= 60;
                seconds %= 60;
                $("#days").text(days);
                $("#hours").text(hours);
                $("#minutes").text(minutes);
                $("#seconds").text(seconds);
            }
        }
    </script>
{% endblock %}