//color
$color1: #623f88;
$color2: #e84961;
$color3: #5fd383;
$color4: #fff;
$color5: #ffc74e;

$colorbo1: #0f354f;
$colorbo2: #5fd383;
$colorbo3: #e84961;


//font
$font1: 'Open Sans', sans-serif;
$font2: 'Anton', sans-serif;
