//color
$color1: #623f88;
$color2: #e84961;
$color3: #5fd383;
$color4: #fff;
$color5: #ffc74e;


// COLORS CHLOE
$pink: #e84961;
$blue: #0f354f;
$green: #5fd383;
$yellow: #ffc74e;

$white: #ffffff;
$black: #131313;
$grey: #c1c1c1;
$dark-grey: #737373;



$colorbo1: #0f354f;
$colorbo2: #16b77c;
$colorbo3: #e84961;


//font
$font1: 'Open Sans', sans-serif;
$font2: 'Anton', sans-serif;
