//color
$color1: #623f88;
$color2: #e84961;
$color3: #5fd383;
$color4: #fff;
$color5: #ffc74e;

//font
$font1: 'Open Sans', sans-serif;
$font2: 'Anton', sans-serif;

html {
  font-size: 62.5%; /* Generally results in 1rem -> 10px */
  font-family: $font1;
}

body {
  font-family: $font1;
}

.block-01 {
  width: 1072px;
  margin: 0 auto;
  display: block;
}

.block-02 {
  width: 795px;
  display: inline-block;
  margin-right: 22px;
}

.block-03 {
  width: 250px;
  display: inline-block;
}


.flex-align-vertical {
  display: flex;
  align-items: center;
  height: 100%;
}

.bosup {
  background-color: #efefef;
}