.Board {
  &-list {
    display: flex;
    margin-bottom: 23px;
    justify-content: space-between;

      div {
        width: 250px;
        height: 133px;
        border: 1px solid $colorbo2;
        //margin-right: 19px;
        position: relative;
        background-color: #fff;

        strong {
          position: absolute;
          font-size: 2.8rem;
          font-weight: bold;
          text-transform: uppercase;
          top: 30px;
          right:11px;
          color: #e84961;
          font-family: $font2;
        }

        span {
          font-size: 4rem;
          color: #3d3d3d;
          position: absolute;
          right: 11px;
          top: 55px;
          font-weight: 300;
        }


        &:first-child {
          background-image: url('../img/structures.png');
          background-repeat: no-repeat;
          background-position: 67%;
        }

        &:nth-child(2) {
          background-image: url('../img/participant.png');
          background-repeat: no-repeat;
          background-position: 67%;
        }

        &:nth-child(3) {
          background-image: url('../img/equipe.png');
          background-repeat: no-repeat;
          background-position: 67%;
        }

        &:nth-child(4) {
          background-image: url('../img/tournois.png');
          background-repeat: no-repeat;
          background-position: 67%;
        }

      }
  }
}