.Tab {
  background-color: #fff;

  &-title {
    margin-left: 37px;
    margin-right: 37px;
    height: 81px;
    justify-content: space-between;

    h3 {
      padding: 0px;
      margin: 0px;
      text-transform: uppercase;
    }
    
    a {
      color: $color2;
      text-decoration: underline;
      margin-right: 17px;

      i {
        font-size: 2rem;
        position: relative;
        right: -10px;
        bottom: -2px;
      }
    }
  }

  &-content {
    padding: 0px;
    margin: 0px;
    list-style: none;

    li {
      border-top: 1px solid #dadada;
      padding-left: 37px;
      padding-right: 37px;
      height: 62px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

  }

  &-company {
    width: 208px;
  }

  &-participants {
    width: 182px;
  }

  &-team {
    width: 155px;
  }

  &-select {
    width: 167px;
    
    .finish {
      color: $color3;
    }

    .started {
      color: $colorbo1;
    }

    .selection {
      color: $colorbo3;
    }


  }


  &-01 {
    border-top: 1px solid #eeeeee;
    margin-top: 20px;
    margin-bottom: 47px;

    .Flex-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      overflow: hidden;
      color: #131313;
      transition: .3s ease;

      &:hover, &.focus {
        background-color: #e6e6e6;
        cursor: pointer;
      }
    }

    .player {
      width: 237px;
      font-size: 1.2em;
      box-sizing: border-box;
      padding-left: 50px;
    }

    .infos-player {
      width: 500px;

      strong {
        font-size: 1.2em;
        display: block;
      }

      span {
        font-size: 1.2em;
      }
    }

    .mail-player {
      width: 215px;
      font-size: 1.2em;
      text-align: right;

      strong {
        font-size: 1.2rem;
        color: #f26c4f;
        
        &.valid {
          color: $colorbo2;
        }
      }
    }

    .Accordion-more {
      width: 67px;
      font-size: 3rem;
    }
  }
}