<body>
<p>
    {{ user.firstname }} {{ user.lastname }} vous a invité il y a quelques jours à rejoindre l’équipe “Heticland” pour le championnat de PingPong Startup Cup !
    Il vous veut dans son équipe !

    La première phase du tournois débutera le 25.03.2017, préparez vous !
</p>
<a href="http://127.0.0.1:8000/team/accept/{{ player.privatekey }}">Accepter l'invitation</a>

<a href="http://127.0.0.1:8000/team/decline/{{ player.privatekey }}">Refuser l'invitation</a>
</body>
