<body>
<p>
    {{ user.firstname }} {{ user.lastname }} a annulé votre participation au sein de son équipe, mais vous pouvez toujours participer au championnat
    de PingPong Startup Cup !

    La première phase du tournois débutera le 25.03.2017, créez votre équipe !
</p>
<a href="http://127.0.0.1:8000/">Creer votre équipe</a>
</body>
