{% extends 'team/base_confirm.html.twig' %}

{% block body %}
    <!-- ******* HEADER ******* -->
    {{ include('nav.html.twig') }}

    <!-- PAGE -->
    <div class="container">
        <div class="row">

            <div class="confirm">
                <div class="col-md-3">
                    <a class="logo" href="/">
                        <img src="{{ asset('img/logo-connexion.jpg') }}" alt="Logo PingPongStartupcup">
                    </a>
                </div>

                <div class="col-md-9">
                    <div class="content">
                        <h1 class="h1">{{ title }} !</h1>
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-5">
                    <a href="/"><img src="/img/logo-footer.png" alt="Pingpong startup cup by digital village"></a>
                </div>

                <div class="col-md-7">
                    <ul class="text">
                        <li><a href="#">Partenaires</a></li>
                        <li><a href="#">Règles du tournois</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Mentions légales</a></li>
                    </ul>

                    <p>Invitez vos amis !</p>

                    <ul class="picto">
                        <li>
                            <a href="#">
                                <i class="zmdi zmdi-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="zmdi zmdi-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="zmdi zmdi-email"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-12">
                    <div class="copi">
                        <a href="#">Copyright © pingpongstartupcup | 2017</a>
                    </div>
                </div>

            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function () {
        $('.hamburger').on('click', function () {
            $('.menu-1').toggleClass('menu--active');
        });

        $('.account.connexion').on('click', function(){
            $('.btn.participate').trigger('click')
        });

        $('.account.inscription').on('click', function(){
            $('#modal-inscription').css('z-index','0');
            $('.btn.inscription').trigger('click');

            $('.close').off('click').on('click', function(){
                $('#modal-inscription').css('z-index','1050');
            })
        });
    });

    var timer;
    var compareDate = new Date();
    compareDate.setDate(compareDate.getDate() + 13);
    timer = setInterval(function() {
        timeBetweenDates(compareDate);
    }, 1000);
    function timeBetweenDates(toDate) {
        var dateEntered = toDate;
        var now = new Date();
        var difference = dateEntered.getTime() - now.getTime();
        if (difference <= 0) {
            clearInterval(timer);
        }
        else {
            var seconds = Math.floor(difference / 1000);
            var minutes = Math.floor(seconds / 60);
            var hours = Math.floor(minutes / 60);
            var days = Math.floor(hours / 24);
            hours %= 24;
            minutes %= 60;
            seconds %= 60;
            $("#days").text(days);
            $("#hours").text(hours);
            $("#minutes").text(minutes);
            $("#seconds").text(seconds);
        }
    }
</script>
{% endblock %}
{% block stylesheets %}

{% endblock %}
